In [ ]:
print("hello")

hello

In [ ]:
#comment

In [ ]:
""" multipal line """

' multipal line '

In [ ]:
#varables is contanier are used to store data

In [ ]:
print("hello python")

TypeError: 'str' object is not callable

In [ ]:
x=10
y=20
print(x+y)

TypeError: 'str' object is not callable

In [ ]:
del print

In [ ]:
x=20
y=30
print(x+y)

50

In [ ]:
y=5
h=7
print(y-h)
#substraction

-2

In [ ]:
a=10   #int
b=20  #int
c="baap"  #string
print(a+b,c)

#additon of 3 varables
#type casting

30 baap

In [ ]:
# Data Type
#string
g="annad"
print(g)
type(g)

annad

str

In [ ]:
#int
a=30
type(a)
print(a)

30

In [ ]:
#float
a=2.3
print(a)
type(a)

2.3

float

In [ ]:
#complex
a=4j
print(a)
type(a)

4j

complex

In [ ]:
a=1.3
b=2.6
c=6.7
d=5.8
print(a+b+c+d)

16.400000000000002

In [ ]:
a="What is an animal? Animals are multicellular eukaryotes whose cells are bound together by collagen. Animals dominate human conceptions of life on Earth because of their size, diversity, abundance, and mobility"
print(a)

What is an animal? Animals are multicellular eukaryotes whose cells are bound together by collagen. Animals dominate human conceptions of life on Earth because of their size, diversity, abundance, and mobility

In [ ]:
type(a)

str

In [ ]:
a=34
b=67
print(a/b)
#divsion

0.5074626865671642

In [ ]:
### Tuple-Based Questions:

#1. Write a Python program to create a tuple and print all its elements.
a=("anand","banana","apple")
print(a)

('anand', 'banana', 'apple')

In [ ]:
#Given a tuple of integers, write a program to find the second largest element.
a=(1,2,3,4,5,6,7)
b=sorted(a)
print(b[-2])

6

In [ ]:
#Write a program to convert a list into a tuple.
a=[1,3,4,5,6,7]
b=tuple(a)
print(b)

(1, 3, 4, 5, 6, 7)

In [ ]:
#Write a Python program to find the index of a specific element in a tuple.
a=(1,2,3,4,4,55,6)
x=a.index(4)
print(x)

3

In [ ]:
#Given a tuple, write a program to reverse its elements.
a=(1,2,3,4,5,6,7)
x=a[::-1]
print(x)

(7, 6, 5, 4, 3, 2, 1)

In [ ]:
#Write a program to count how many times an element occurs in a tuple
a=("apple","apple","orange")
x=a.count("apple")
print(x)

2

In [ ]:
#Create a tuple and write a program to check if a particular element exists within it.
a=(1,2,3,4,5,67,8,90)
if 0 in a:
  print("exists in tuple")
else:
  print("not exists in tuple")

not exists in tuple

In [ ]:
#Write a Python program to unpack a tuple into several variables.
a=("anand","banana","apple")
(x,y,z)=a
print(x)
print(y)
print(z)

anand
banana
apple

In [ ]:
#Given two tuples, write a program to concatenate them and remove duplicates.
a=(1,2,3,4,5,6,7)
b=(9,8,7,6,5,43)
c=tuple(set(a+b))
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 43)

In [ ]:
#. Write a program to convert a tuple of strings into a single concatenated string.
a=("anand","raj","ram")
print(''.join(a))

anandrajram

In [ ]:
import pandas

In [ ]:
m1={
    "name":"anand",
    "age":23,
    "city":"chennai"
}
print(m1)
res=pandas.DataFrame(m1)
print(res)

{'name': 'anand', 'age': 23, 'city': 'chennai'}

NameError: name 'pandas' is not defined

In [ ]:
m1={
    "name":"anand",
    "age":23,
    "city":"chennai"
}
print(m1)

{'name': 'anand', 'age': 23, 'city': 'chennai'}

In [ ]:
#class and object
class student:
  name:"anand"

s1=student()
print(s1)

<__main__.student object at 0x7c51f0130e50>

In [ ]:
class car:
  color="blue"

  car1=car()
  print(car1)

NameError: name 'car' is not defined

In [ ]:
# Write a program to count the number of vowels in a string
input_string = "Hello, World!"
vowels = "aeiouAEIOU"
count = 0

for char in input_string:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Number of vowels: 3

In [ ]:
# Create a program that finds the second largest number in a list.

my_list = [5, 2, 9, 1, 7]
my_list.sort()
second_largest = my_list[-2]
print("Second largest number:", second_largest)

Second largest number: 7

In [ ]:
#. Write a function to check if a given string is an anagram of another string.
def is_anagram(str1, str2):
    str1 = str1.lower().replace(" ", "")
    str2 = str2.lower().replace(" ", "")
    return sorted(str1) == sorted(str2)
print(is_anagram("anand","anand"))

True

In [ ]:

#. Create a program that sorts a dictionary by its values.
my_dict = {'a': 3,
           'b': 1,
           'c': 2
           }
sorted_dict = dict(sorted(my_dict.items(), key=lambda item: item[1]))
print(sorted_dict)

{'b': 1, 'c': 2, 'a': 3}

In [ ]:
# Write a program to remove all occurrences of a specified element from a list.
my_list = [1, 2, 3, 2, 4, 2, 5]
element_to_remove = 2
my_list = [x for x in my_list if x != element_to_remove]
print(my_list)

[1, 3, 4, 5]

In [ ]:
# Write a program to find the sum of digits of a given number.
number = 12345
sum_of_digits = sum(int(digit) for digit in str(number))
print("Sum of digits:", sum_of_digits)

Sum of digits: 15

In [ ]:
#. Create a lambda function to check if a number is even or odd.

is_even = lambda x: x % 2 == 0
print(is_even(4))

True

In [ ]:
#. Write a function to merge two dictionaries.
def merge_dicts(dict1, dict2):
    merged_dict = {**dict1, **dict2}
    return merged_dict
    print

In [ ]:
#. Write a program to find the common elements between two lists.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
common_elements = list(set(list1) & set(list2))
print

In [ ]:
# Create a program to check if a list is empty.
my_list = []  # You can change this to test with different lists

if not my_list:
    print("The list is empty.")
else:
  print("The list is not empty.")

The list is empty.

In [ ]:
#. Write a program to find the cumulative sum of a list.
my_list = [1, 2, 3, 4, 5]
cumulative_sum = [sum(my_list[:i+1]) for i in range(len(my_list))]
print(cumulative_sum)

[1, 3, 6, 10, 15]

In [ ]:
#. Write a function to count the number of words in a string
def count_words(string):
    words = string.split()
    return len(words)
print(count_words("anand"))

1

In [ ]:
#Create a program to find the longest word in a list of words
words = ["apple", "banana", "cherry", "date"]
longest_word = max(words, key=len)
print(longest_word)

banana

In [ ]:
# Write a function that returns the first non-repeated character in a string.
def first_non_repeated_char(string):
    for char in string:
        if string.count(char) == 1:
            return char
    return None
input_string = "anand"
result = first_non_repeated_char(input_string)
print("First non-repeated character:", result)

First non-repeated character: d

In [ ]:
# Create a program that checks if two sets are disjoint.
set1 = {1, 2, 3}
set2 = {4, 5, 6}
is_disjoint = set1.isdisjoint(set2)
print(is_disjoint)

True

In [ ]:
#. Write a program to remove the nth occurrence of a word from a list.
def remove_nth_occurrence(word_list, target_word, n):
    count = 0
    result = []

In [ ]:
words = ["apple", "banana", "apple", "cherry", "apple", "date"]
word_to_remove = "apple"
n = 2  # nth occurrence to remove

count = 0
for i in range(len(words)):
    if words[i] == word_to_remove:
        count += 1
        if count == n:
            del words[i]
            break

print("List after removing the nth occurrence:", words)

List after removing the nth occurrence: ['apple', 'banana', 'cherry', 'apple', 'date']

In [ ]:
#. Write a function to convert a list of tuples into a dictionary.
def list_of_tuples_to_dict(list_of_tuples):
    return dict(list_of_tuples)
print(dict)

<class 'dict'>

In [ ]:
#. Create a program that generates a list of even numbers using a loop and lambda function.
even_numbers = list(filter(lambda x: x % 2 == 0, range(1, 11)))
print(even_numbers)

[2, 4, 6, 8, 10]

In [ ]:
#. Create a program to merge two lists without duplicates.
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]
merged_list = list(set(list1 + list2))
print(merged_list)

[1, 2, 3, 4, 5, 6, 7]

2

In [ ]:
# Write a function to find the factorial of a number using recursion.
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
print(factorial(5))

120

In [ ]:
#Write a program to convert a string to lowercase without using built-in functions.

In [ ]:

#Write a program to convert a string to lowercase without using built-in functions.
def to_lowercase(string):
    result = ""
    for char in string:
        if 'A' <= char <= 'Z':
            result += chr(ord(char) + 32)
        else:
            result += char
    return result
print(result)

d

In [ ]:
input_string = "Hello, World!"
lowercase_string = ""

for char in input_string:
    # Check if the character is an uppercase letter
    if 'A' <= char <= 'Z':
        # Convert to lowercase by adding 32 to the ASCII value
        lowercase_string += chr(ord(char) + 32)
    else:
        # If it's already lowercase or not a letter, keep it as is
        lowercase_string += char

print("Lowercase string:", lowercase_string)

Lowercase string: hello, world!

In [ ]:
# Create a program that finds the common keys in two dictionaries.
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'b': 2, 'c': 3, 'd': 4}
common_keys = set(dict1.keys()) & set(dict2.keys())
print(common_keys)

{'c', 'b'}

In [ ]:
# Write a program to find the sum of elements in a nested list.
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]
total_sum = sum(sum(sublist) for sublist in nested_list)
print(total_sum)

45

In [ ]:
# Create a function to find the index of an element in a list.
def find_index(lst, element):
    for i in range(len(lst)):
        if lst[i] == element:
            return i
    return -1  # Return -1 if the element is not found
my_list = [10, 20, 30, 40, 50]
element_to_find = 30
index = find_index(my_list, element_to_find)
print("Index of element:", index)

Index of element: 2

In [ ]:
# Write a program to check if a number is a palindrome.
def is_palindrome(number):
    return str(number) == str(number)[::-1]
print(is_palindrome(121))

True

In [ ]:
#. Write a program to replace vowels in a string with a specified character
input_string = "Hello, World!"
replacement_char = "*"
vowels = "aeiouAEIOU"

# Replace vowels with the specified character
result_string = "".join(replacement_char if char in vowels else char for char in input_string)

print("String after replacing vowels:", result_string)

String after replacing vowels: H*ll*, W*rld!

In [ ]:
# Create a function to count the number of uppercase and lowercase letters in a string.

input_string = "Hello, World!"
uppercase_count = sum(1 for char in input_string if char.isupper())
lowercase_count = sum(1 for char in input_string if char.islower())

print("Uppercase letters:", uppercase_count)
print("Lowercase letters:", lowercase_count)

Uppercase letters: 2
Lowercase letters: 8

In [ ]:
# Write a program to find the mode of a list of numbers.
numbers = [1, 2, 2, 3, 4, 4, 4, 5, 5, 6]
frequency = {}
mode = []
max_count = 0

# Count occurrences of each number
for num in numbers:
    frequency[num] = frequency.get(num, 0) + 1
    if frequency[num] > max_count:
        max_count = frequency[num]

# Find mode(s)
for num, count in frequency.items():
    if count == max_count:
        mode.append(num)

print("Mode(s):", mode)

Mode(s): [4]

In [ ]:
#Create a lambda function to find the product of two numbers.
product = lambda x, y: x * y
print(product(5, 3))

15

In [ ]:
#. Write a program to create a new list with elements that are common to two given lists
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]

# Create a new list with common elements
common_elements = [element for element in list1 if element in list2]

print("Common elements:", common_elements)

Common elements: [4, 5]

In [ ]:
# Write a program to remove all the vowels from a string.
input_string = "Hello, World!"
vowels = "aeiouAEIOU"

result_string = ''.join([char for char in input_string if char not in vowels])

print("String after removing vowels:", result_string)

String after removing vowels: Hll, Wrld!

In [ ]:
#. Create a function to reverse a list of tuples
def reverse_tuples_list(tuples_list):
    return [tup[::-1] for tup in tuples_list]
my_tuples = [(1, 2), (3, 4), (5, 6)]
reversed_tuples = reverse_tuples_list(my_tuples)
print("Reversed list of tuples:", reversed_tuples)

Reversed list of tuples: [(2, 1), (4, 3), (6, 5)]

In [ ]:
#. Write a program to create a dictionary from two lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]
my_dict = dict(zip(keys, values))
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [ ]:
 #Write a function to find the GCD (Greatest Common Divisor) of two numbers.
 def gcd(a, b):
    while b:
        a, b = b, a % b
    return a
print(gcd(12, 18))

6

In [ ]:
# Create a program to check if a string contains only digits
def contains_only_digits(string):
    return string.isdigit()
print(contains_only_digits("12345"))

True

In [ ]:
#. Write a program to sort a list of tuples based on the second element.
my_list = [(1, 3), (3, 1), (2, 2)]
sorted_list = sorted(my_list, key=lambda x: x[1])
print(sorted_list)

[(3, 1), (2, 2), (1, 3)]

In [ ]:
#. Write a program to split a list into two parts, where the first part contains even numbers andhe second part contains odd numbers

In [ ]:
#star pattern
for i in range("5,0,1")
a="*"*i:
print(a)

SyntaxError: expected ':' (<ipython-input-1-aa3ee98f41b9>, line 2)

In [ ]:
rows = 5
for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:
#1. Print the following pattern.
a=5
for i in range(1+a):
  print("*"*i)

*
**
***
****
*****

In [ ]:
#2. Write a program to print the following pattern using nested loops:
for i in range(1,6):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
#3. Print a pattern that mirrors a right-angled triangle (e.g., with spaces on the left):
a= 5
for i in range(1 ,a+ 1):
    print(" " * (a - i), end="")
    print("*" * i)

    *
   **
  ***
 ****
*****

In [ ]:
#4. Write a program to print a pyramid pattern of stars:
a=4
for i in range(1 ,a+ 1):
    print(" " * (a- i) + "*" * (2 * i - 1))

   *
  ***
 *****
*******

In [ ]:
#5. Create a diamond shape pattern using*
rows = 3

for i in range(1, rows + 1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

for i in range(rows - 1, 0, -1):
    print(" " * (rows - i) + "*" * (2 * i - 1))

  *
 ***
*****
 ***
  *

In [ ]:
#6. Write a program to print numbers from 1 to 10 but skip printing 5 using continue.
for i in range (1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
#7. Create a program that prints numbers from 1 to 10 but stops if it encounters a number divisible by 4 using break.
for i in range(1, 11):
    if i % 4 == 0:
        break
    print(i)

1
2
3

In [ ]:
#8. Write a program that takes user input continuously until the user enters exit using a while loop and break statement.
while True:
    user_input = input("Enter something:")
    if user_input == "exit":
        break
    print("You entered:", user_input)

Enter something:ereferer
You entered: ereferer
Enter something:wdwdw
You entered: wdwdw
Enter something:lo
You entered: lo
Enter something:exit

In [ ]:
#9. Using a for loop, print all even numbers between 1 and 20, but stop if the number is greater than 12 using break.
for i in range(1, 21):
    if i % 2 == 0:
        if i > 12:
            break
        print(i)

2
4
6
8
10
12

In [ ]:
#10. Write a program that prompts the user for numbers until they enter a negative number, then prints the sum of all entered positive numbers. Use continue to skip negative numbers in the summation.
sum=0
while 1:
    x=int(input("Enter the No.==>"))
    if x<0:
        break
    else:
        sum += x
print(f"the sum of all positive number {sum}")

Enter the No.==>45
Enter the No.==>45
Enter the No.==>45
Enter the No.==>45
Enter the No.==>545
Enter the No.==>5

In [ ]:
def find_duplicates(nums):
    duplicates = set()
    seen = set()

    for i in nums:
        if i in seen:
            duplicates.add(i)
        else:
            seen.add(i)

    return list(duplicates)
numbers = [1, 2, 3, 4, 2, 5, 6, 3, 7]
print( find_duplicates(numbers))

[2, 3]

In [ ]:

nums = [1, 2, 2, 3, 4, 4]
duplicates = set()
seen = set()
for i in nums:
    if i in seen:
        duplicates.add(i)
    else:
        seen.add(i)
print( find_duplicates)

{2, 4}

In [ ]:
numbers = [1, 2, 3]

for i in numbers:         # Outer loop for first element
    for j in numbers:     # Inner loop for second element
        print(f"{i},{j})

1,1
1,2
2,1
2,2

In [ ]:
#cerate the set
myset={"dog","cat","donkey"}
myset.add("lion")#add the set
print(myset)

{'cat', 'lion', 'dog', 'donkey'}

In [ ]:
myset.remove("cat")#remove the animal
print(myset)

{'lion', 'dog', 'donkey'}

In [ ]:
myset1={"dog","cat","donkey"}
myset2={"raj","sam","sanket"}
myset1.update(myset2)
print(myset1)

{'donkey', 'raj', 'sam', 'cat', 'dog', 'sanket'}

In [ ]:
#Write a Python program to create a set and add multiple items to it.
myset={1,2,3,4,5,6}
print(myset)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Given a set {1, 2, 3, 4, 5}, write a Python program to add an element 6 to this set.
myset={1,2,3,4,5}
myset.add(6)
print(myset)

{1, 2, 3, 4, 5, 6}

In [ ]:
#Write a Python program to remove an element 2 from the set {1, 2, 3, 4, 5}
myset={1,2,3,4,5}
myset.remove(2)
print(myset)

{1, 3, 4, 5}

In [ ]:
#How can you find the union of two sets {1, 2, 3} and {3, 4, 5}?
set1={1,2,3}
set2={3,4,5}
union=set1.union(set2)
print(union)

{1, 2, 3, 4, 5}

In [ ]:
#Write a Python program to find the intersection of sets {10, 20, 30, 40} and {30, 40, 50, 60}.
set1={10,20,30,40}
set2={30,40,50,60}
intersection=set1.intersection(set2)
print(intersection)

{40, 30}

In [ ]:
#Given two sets {1, 2, 3} and {3, 4, 5}, write a Python program to find their difference.
set1={1,2,3}
set2={3,4,5}
difference=set1.difference(set2)
difference1=set2.difference(set1)
print(difference)
print(difference1)

{1, 2}
{4, 5}

In [ ]:
#Write a Python program to check if {1, 2} is a subset of {1, 2, 3, 4}.
set1={1,2}
set2={1,2,3,4}
subset=set1.issubset(set2)
print(subset)

True

In [ ]:
#How can you clear all elements from a set?
myset={1,2,3,4,5}
myset.clear()
print(myset)

set()

In [ ]:
#Write a Python program to find the length of a set {10, 20, 30, 40, 50}.
myset={10,20,30,40,50}
length=len(myset)
print(length)

5

In [ ]:
#Create two sets {1, 2, 3} and {4, 5, 6} and check if they are disjoint sets.
set1={1,2,3}
set2={4,5,6}
disjoint=set1.isdisjoint(set2)
print(disjoint)

True

In [ ]:
# 1.Write a program to find the most common element in a list using sets.
def comman(lst):
    un_elemnt=set(lst)
    max_count=o
    most_comman=[]
    for i in un_elemnt:
        count=lst.count(i)
        x=[1,2,2,3,1,2,3,4,2,2,1,1]
        print(comman(x))

In [ ]:
#find the unique vowels in string using set
def find_unique_vowels(string):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    unique_vowels = vowels.intersection(set(string.lower()))
    return len(unique_vowels)
    string = "hello world"
print(find_unique_vowels('string'))
print(find_unique_vowels("aouie"))

1
5

In [ ]:
#Write a Python program to create a dictionary with keys as numbers from 1 to 5 and values as their squares (e.g., {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}).
def create_square_dict(n):
    square_dict = {}
    for i in range(1, n + 1):
        square_dict[i] = i * i
    return square_dict
print(create_square_dict(5))

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
 #Given the dictionary employee = {'name': 'John', 'age': 30, 'department': 'HR'}, write code to access and print the value associated with the key 'department'.
employee={'name': 'John', 'age': 30, 'department': 'HR'}
print(employee['department'])

HR

In [ ]:
#Given the dictionary student = {'name': 'Alice', 'marks': 85}, write a program to update the marks to 95.
student = {'name': 'Anand', 'marks': 85}
student['marks']=95
print(student)

{'name': 'Anand', 'marks': 95}

In [ ]:
#Write a program to add a new key 'subject' with value 'Math' to the dictionary grades = {'student': 'Emma', 'grade': 'A'}.
mydict={
    'student': 'Emma',
     'grade': 'A'
}
mydict['subject']="math"
print(mydict)

{'student': 'Emma', 'grade': 'A', 'subject': 'math'}

In [ ]:

#Write a Python program to remove the key 'age' from the dictionary person = {'name': 'Sara', 'age': 25, 'city': 'New York'}.
mydict={
    'name': 'Sara',
     'age': 25,
     'city': 'New York'
}
del mydict['age']
print(mydict)

{'name': 'Sara', 'city': 'New York'}

In [ ]:
#Write a Python function that checks if a given key exists in the dictionary inventory = {'apple': 10, 'banana': 5, 'orange': 8}.
def check_key(key):
    inventory = {'apple': 10, 'banana': 5, 'orange': 8}
    if key in inventory:
        return True
    else:
        return False

print(check_key("key"))

False

In [ ]:
#Write a Python program to iterate over the dictionary car = {'brand': 'Toyota', 'model': 'Corolla', 'year': 2022} and print each key-value pair.
car = {'brand': 'Toyota', 'model': 'Corolla', 'year': 2022}
for key,value in car.items():
    print(key,value)

brand Toyota
model Corolla
year 2022

In [ ]:
#Given two dictionaries, dict1 = {'a': 1, 'b': 2} and dict2 = {'b': 3, 'c': 4}, write a Python program to merge them into a single dictionary. If there are duplicate keys, the value from dict2 should overwrite dict1.
dict1 = {'a': 1, 'b': 2}
dict2 = {'b': 3, 'c': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 3, 'c': 4}

In [ ]:
#Write a Python program to find the key with the highest value in the dictionary scores = {'Alice': 90, 'Bob': 85, 'Charlie': 92}
mydict={
    'Alice': 90,
    'Bob': 85,
    'Charlie': 92
}
for key,value in mydict.items():
    if value==max(mydict.values()):
        print(key)

Charlie

In [ ]:
#Write a Python dictionary comprehension to create a dictionary where the keys are numbers from 1 to 5 and the values are the cubes of the keys (e.g., {1: 1, 2: 8, 3: 27, 4: 64, 5: 125}).
mydict={i:i**3 for i in range(1,6)}
print(mydict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [ ]:
#lambda
add=lambda x,y:x+y
print(add(5,6))

11

In [ ]:
multiply=lambda x,y:x*y
print(multiply(7,6))

42

In [ ]:
divide=lambda x,y:x/y
print(divide(23,7))

3.2857142857142856

In [ ]:
def myfun(a):
    return lambda h:a*h

g=myfun(4)
print(g(5))

20

In [ ]:
calculator = {
    'add': lambda x, y: x + y,
    'subtract': lambda x, y: x - y,
    'multiply': lambda x, y: x * y,
    'divide': lambda x, y: x / y if y != 0 else 'Undefined'
}
print(calculator['add'](1,8))
print(calculator['subtract'](10, 4))
print(calculator['multiply'](6, 7))
print(calculator['divide'](15, 3))

9
6
42
5.0

In [ ]:
print((lambda x, y: x ** y)(2, 3))

8

In [ ]:
#Write a lambda function to add two numbers and use it to add 12 and 7.
add = lambda x, y: x + y
print(add(12, 7))

19

In [ ]:
#Create a lambda function that takes a number as input and returns its cube. Test it with the number 5.
cube = lambda x: x ** 3
a=int(input("enter the number"))
print(cube(a))

enter the number4
64

In [ ]:
#You have a list of tuples with names and heights: [('John', 5.8), ('Anna', 5.5), ('Mike', 6.0)]. Use a lambda function with the sorted() method to sort this list by height in descending order.
employees = [('Alice', 30), ('Bob', 25), ('Charlie', 35)]
sorted_employees = sorted(employees, key=lambda x: x[1])
print(sorted_employees)  # Expected Output: [('Bob', 25), ('Alice', 30), ('Charlie', 35)]

[('Bob', 25), ('Alice', 30), ('Charlie', 35)]

In [ ]:
#Given a list of numbers [10, 15, 20, 25, 30], use a lambda function with the filter() method to get numbers that are divisible by 5.
numbers = [10, 15, 20, 25, 30]
list(filter(lambda x: x % 5 == 0, numbers))

[10, 15, 20, 25, 30]

In [ ]:
#Given a list [3, 6, 9, 12], use a lambda function with the map() method to square each element in the list.
numbers = [3, 6, 9, 12]
squared_numbers = list(map(lambda x: x ** 2, numbers))
print(squared_numbers)

[9, 36, 81, 144]

In [ ]:
#if else

In [ ]:
#Write a Python program that checks if a given number is positive, negative, or zero
num=int(input("enter the number"))
if num>0:
    print("positive")
elif num<0:
    print("negative")
else:
    print

enter the number6
positive

In [ ]:
#Write a Python program that checks if a given year is a leap year or not.
is_leap_year = lambda year: (
    "Leap year" if (year % 4 == 0 and (year % 100 != 0 or year % 400 == 0))
    else "Not a leap year"
)
print(is_leap_year)

Enter a year: 2024
Leap year

In [ ]:
#: Write a Python program to check if a given number is even or odd.

is_even_or_odd = lambda num: "Even" if num % 2 == 0 else "Odd"
print(is_even_or_odd(34))

Even

In [ ]:
#Write a Python program that accepts a number from the user and checks if it is divisible by 5 and 3.
number = 15
if number % 5 == 0 and number % 3 == 0:
    print("Divisible by both 5 and 3")
else:
    print("Not divisible by both 5 and 3")

Divisible by both 5 and 3

In [ ]:
#Write a Python program that finds the largest of three given numbers.
num1 = 45
num2 = 76
num3 = 90
if num1 >= num2 and num1 >= num3:
    largest = num1
elif num2 >= num1 and num2 >= num3:
    largest = num2
else:
    largest = num3
print("The largest number is:", largest)

The largest number is: 90

In [ ]:
#Write a Python program that prints numbers from 1 to 10 using a while loop.
num = 1
while num <= 10:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Write a Python program that calculates the sum of all numbers from 1 to a given number n using a while loop.
n = 10
total_sum = 0
num = 1
while num <= n:
    total_sum += num
    num += 1
print(total_sum)

55

In [ ]:
#Write a Python program to find the factorial of a given number using a while loop.
n = 5
factorial = 1
num = n
while num > 1:
    factorial *= num
    num -= 1
print( factorial)

120

In [ ]:
#Write a Python program that asks the user to enter a number and keeps asking until the user enters a positive number.
while True:
    number = int(input("Enter a positive number: "))
    if number > 0:
        print("Thank you! You entered a positive number:", number)
        break
    else:
        print("That's not a positive number. Please try again.")

Enter a positive number: 67
Thank you! You entered a positive number: 67

In [ ]:
#Write a Python program that prints the Fibonacci sequence up to n numbers using a while loop

n = 10
a, b, j = 0, 1, 0
while j < n:
    print(a)
    a, b = b, a + b
    j += 1
print()

0
1
1
2
3
5
8
13
21
34

In [ ]:
# Define the Car class
class Car:
    # Constructor method to initialize the Car object
    def __init__(self, make, model, year):
        self.make = make    # Attribute for the car make
        self.model = model  # Attribute for the car model
        self.year = year    # Attribute for the car year

    # Method to display car details
    def display_info(self):
        print(f"{self.year} {self.make} {self.model}")

# Create an object (instance) of the Car class
my_car = Car("Toyota", "Camry", 2021)

# Call the display_info method on the object
my_car.display_info()

2021 Toyota Camry

In [ ]:
a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))

lcm = max(a, b)

while lcm % a != 0 or lcm % b != 0:
    lcm += 1

print("The LCM of", a, "and", b, "is:", lcm)

Enter the first number: 23
Enter the second number: 34
The LCM of 23 and 34 is: 782

In [ ]:
a=6
b=4
c=[]
for i in range(2,min(a,b+1)):
  if a%i==0 and b%i==0:
    c.append
    print(a,-1)

6 -1